{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [{{project-ns}}.core]}}
                      :devtools   {:after-load {{project-ns}}.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler {{project-ns}}.handler/app}}}
