// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)

// @import 'profile';

// You can use any sass features, like variables, for instance:
$font-stack: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
$base-font-size: 1.125em;

.body-container {
  font-family: $font-stack;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: $base-font-size + 1.375;
}

h2 {
  font-size: $base-font-size + 0.875;
}

h3 {
  font-size: $base-font-size + 0.125;
}

a {
  text-decoration: none;
  color: #09f;

 // nesting is also supported
  &:hover {
    text-decoration: underline;
  }
}
